$white-dk-100: #fbfbfb !default;

$cyan-000: #68aee0 !default;
$cyan-100: #2b8ed4 !default;
$cyan-200: #1f6597 !default;
$cyan-300: #133d5b !default;

$link-color: $cyan-100;
$btn-primary-color: $cyan-200;
$sidebar-color: $white-dk-100;
